<!doctype html>

<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="script.js"></script>

<div ng-app="lyricsLookup" ng-controller="mainCtrl">
	<form name="songInfo" ng-submit="getLyrics(songInfo)">
		<input type="text" placeholder="Artist" ng-model="songInfo.artist" ng-init="songInfo.artist = 'Coldplay'" />
		<input type="text" placeholder="Song" ng-model="songInfo.song" ng-init="songInfo.song = 'Adventure of a Lifetime'" /></input>
		<button type="submit">Submit</button>
	</form>
	{{lyrics}}
</div>
