<!doctype html>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Sofia'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="script.js"></script>

<div class="title jumbotron">
	<h2 class="titleWords">Welcome to Song Search</h2>
</div>

<div ng-app="lyricsLookup" ng-controller="mainCtrl">
	<div class="container">
		<form name="songInfo" ng-submit="getLyrics(songInfo)">
			<div class="row mb-4">
				<div class="col-md pb-2">
					Artist<br>
					<input type="text" ng-model="songInfo.artist" />
				</div>
				<div class="col-md pb-2">
					Title<br>
					<input type="text" ng-model="songInfo.title" />
				</div>
				<div class="col-md pb-2 d-flex align-items-end">
					<button type="submit">Search</button>
				</div>
			</div>
		</form>
		<div class="lyrics row p-4">
			<div class="col">{{lyrics}}</div>
		</div>
	</div>

</div> <!-- lyricsLookup -->
